body {
    margin: 0%;
    text-align: center;
    font-family: Arial, sans-serif;
  background-image: url('pexels-mo-eid-1268975-9454915\ \(1\).jpg');
  background-size:cover;
  background-position: center;
  height: 100vh;
  margin: 0 auto;
}



.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 100vh;
}

#email, #pass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 35px;
    width: 300px;
    font-size: x-large;
    border-radius: 15px;
    
}

.login {
    height: 100%;
    width: 700px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1{
    display: flex;
    text-align: start;
    margin-top: 0%;
}

#btn {
    height: 50px;
    width: 200px;
    background-color:cadetblue;
    border-radius: 20px ;
}

p {
    color: beige; 
}